.grid-padding-y > .cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid-padding-x > .cell {
  padding-right: 1rem;
  padding-left: 1rem;
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-5 {
    width: 41.66667%;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-1,
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10,
  .grid-x > .large-11,
  .grid-x > .large-12,
  .grid-x > .large-shrink {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-1,
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10,
  .grid-x > .large-11,
  .grid-x > .large-12,
  .grid-x > .large-full,
  .grid-x > .large-shrink {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
.grid-padding-y > .cell {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid-padding-x > .cell {
  padding-right: 1rem;
  padding-left: 1rem;
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-5 {
    width: 41.66667%;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-1,
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10,
  .grid-x > .large-11,
  .grid-x > .large-12,
  .grid-x > .large-shrink {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-1,
  .grid-x > .large-2,
  .grid-x > .large-3,
  .grid-x > .large-4,
  .grid-x > .large-5,
  .grid-x > .large-6,
  .grid-x > .large-7,
  .grid-x > .large-8,
  .grid-x > .large-9,
  .grid-x > .large-10,
  .grid-x > .large-11,
  .grid-x > .large-12,
  .grid-x > .large-full,
  .grid-x > .large-shrink {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .gallery {
    padding: 0 !important;
  }
}
@media print, screen and (min-width: 40em) {
  .gallery {
    padding: 0 1rem !important;
  }
}
.gallery {
  padding: 0 !important;
}
@media print, screen and (min-width: 64.0625em) {
  .large-offset-1 {
    margin-left: 8.33333%;
  }
}
.cell {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}
@media print, screen and (min-width: 64.0625em) {
  .large-offset-1 {
    margin-left: 8.33333%;
  }
}
.cell {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  min-height: 0;
  min-width: 0;
  width: 100%;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-slide img {
  display: block;
}
.gallery img {
  width: 100%;
}
img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.details .price {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 1.875rem;
  line-height: normal;
  margin-left: 1rem;
}

.details .title {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 2.25rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
p {
  margin-bottom: 1rem;
  font-size: inherit;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}

.GiftWizard-gift-button {
  margin-right: 15px;
  margin-bottom: 15px;
}

.hide {
  display: none !important;
}

.GiftWizard-gift-button {
  display: none !important;
}

.option-label {
  color: #7d7a75;
  text-transform: uppercase;
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 0.75rem;
  line-height: normal;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.js-enabled select:not([multiple]) {
  margin-bottom: 0;
}

.js-planter select,
.js-plant select {
  margin-bottom: 0;
}
select:not([multiple]) {
  padding-top: 0;
  padding-bottom: 0;
}

select {
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}
select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bfb8af;
  border-radius: 2px;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d2a24;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32' height='24' viewBox='0 0 32 24'><polygon points='0,0 32,0 16,24' style='fill: rgb%28125, 122, 117%29'></polygon></svg>");
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: border-color 0.25s ease-in-out;
}

select {
  box-sizing: border-box;
  width: 100%;
}

select {
  height: 2.4375rem;
  margin: 0 0 1rem;
  padding: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #bfb8af;
  border-radius: 2px;
  background-color: #fff;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2d2a24;
  // background-image: url(
  //   "data:image/svg + xml;utf8",
  //   '<svgxmlns="http://www.w3.org/2000/svg"version="1.1"width="32"height="24"viewBox="003224"><polygonpoints="0,
  //   032,
  //   016,
  //   24"style="fill:rgb%28125,
  //   122,
  //   117%29"></polygon></svg>'
  // );
  background-origin: content-box;
  background-position: right -1rem center;
  background-repeat: no-repeat;
  background-size: 9px 6px;
  padding-right: 1.5rem;
  transition: border-color 0.25s ease-in-out;
}

.dd-container {
  position: relative;
}

.dd-select {
  position: relative;
  cursor: pointer;
  border: 1px solid #d7d2cb;
}

.dd-selected {
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0.5rem 1rem;
  font-weight: 700;
  width: 100%;
  text-align: left;
  line-height: 2.5rem;
  border-bottom: 0;
}

.dd-selected-image {
  vertical-align: middle;
  float: left;
  margin-right: 0.5rem;
  max-width: 2.5rem;
}

.dd-option-text,
.dd-selected-text {
  font-family: Domaine-Regular, helvetica, roboto, arial, sans-serif;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
  line-height: 2.5rem !important;
}

.details .dd-pointer {
  top: 0;
  border: none;
  width: 12px;
  height: 100%;
  margin-top: 0;
}
.dd-pointer-down {
  border: 5px solid transparent;
  border-top: 5px solid #2d2a24;
}
.dd-pointer {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  width: 0;
  height: 0;
  margin-top: -3px;
}

element.style {
  width: 100%;
  display: none;
}

.dd-options {
  position: absolute;
  z-index: 2000;
  display: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d7d2cb;
  border-top: none;
  list-style: none;
  background: #fff;
  overflow-y: scroll;
  max-height: 13rem;
}

.dd-option {
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  text-align: left;
  overflow: visible;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  box-sizing: border-box;
  line-height: 2.5rem;
}

.dd-option-image {
  vertical-align: middle;
  float: left;
  margin-right: 0.5rem;
  max-width: 2.5rem;
}

.details .size-options {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.details .size-option {
  margin-left: 0;
  margin-right: 1rem;
}

.clearfix:after {
  clear: both;
}
.clearfix:after,
.clearfix:before {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after,
.clearfix:before {
  display: table;
  content: " ";
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-order: 1;
  order: 1;
}

.details .color-options,
.details .zip-code-property {
  border-top: 1px solid #d7d2cb;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.js-color label {
  min-width: 4rem;
  margin: 0.5rem 0.125rem 0 0;
}

.js-color svg {
  margin: auto;
  display: block;
  overflow: visible;
  width: 2.5rem;
}

.product-plant-care {
  background-color: #f8f8f7;
  margin-bottom: 1rem;
  padding: 1.5rem 0;
}

.product-plant-care .section-title {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 2.25rem;
  line-height: 1.1;
}

.product-plant-care .section-image {
  width: 3rem;
}

@media print, screen and (min-width: 64.0625em) {
  .grid-x > .large-10 {
    width: 83.33333%;
  }
}

.product-plant-care .plant-care-title {
  text-transform: uppercase;
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 0.75rem;
  line-height: normal;
  color: #7d7a75;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
}

.product-plant-care .section-content {
  margin-bottom: 0;
}

.details .add-to-cart,
.details .klaviyo-bis-trigger {
  margin: 1.5rem 0;
}

.button.expanded {
  display: block;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.js-color span {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 0.75rem;
  line-height: normal;
}

.details .input-label {
  cursor: pointer;
  display: inline-block;
}

.details .size-guide:active,
.details .size-guide:focus,
.details .size-guide:hover {
  color: #2d2a24;
}

.button.clear:focus,
.button.clear:hover {
  color: #005642;
}
.button.clear,
.button.clear.disabled,
.button.clear.disabled:focus,
.button.clear.disabled:hover,
.button.clear:focus,
.button.clear:hover,
.button.clear[disabled],
.button.clear[disabled]:focus,
.button.clear[disabled]:hover {
  border-color: transparent;
  background-color: transparent;
}

.details .size-guide {
  color: #2d2a24;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}
.details .size-guide,
.details .size-option {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 1rem;
  line-height: normal;
}

.button.clear,
.button.clear.disabled,
.button.clear.disabled:focus,
.button.clear.disabled:hover,
.button.clear[disabled],
.button.clear[disabled]:focus,
.button.clear[disabled]:hover {
  color: #00ab84;
}
.button:focus,
.button:hover {
  background-color: #009170;
  color: #fff;
}
[data-whatinput="mouse"] .button {
  outline: 0;
}

.button {
  font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
  font-size: 1rem;
  line-height: normal;
}
.float-right {
  float: right !important;
}
.button,
.button.disabled,
.button.disabled:focus,
.button.disabled:hover,
.button[disabled],
.button[disabled]:focus,
.button[disabled]:hover {
  background-color: #00ab84;
  color: #fff;
}
.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid transparent;
  border-radius: 2px;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

@media print, screen and (min-width: 40em) {
  .details .size-guide:hover:after {
    width: 100%;
  }
}
@media print, screen and (min-width: 40em) {
  .details .size-guide:after {
    height: 0.0625rem;
  }
}
@media print, screen and (min-width: 40em) {
  .details .size-guide:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 0;
    height: 1px;
    background: none repeat scroll 0 0 transparent;
    background: #2d2a24;
    transition: width 0.3s ease 0s, width 0.3s ease 0s;
  }
}

*,
:after,
:before {
  box-sizing: inherit;
}

::selection {
  color: #fff;
  background: #00ab84;
}
@media print, screen and (min-width: 40em) {
  .template-product {
    padding-top: 6rem;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .template-product {
    padding-top: 8rem;
  }
}

@media print, screen and (min-width: 40em) {
  .product {
    padding: 0 8rem;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .product {
    padding: 0 2rem;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .product {
    padding: 0 2rem;
  }
}
@media print, screen and (min-width: 40em) {
  .product {
    padding: 0 8rem;
  }
}

@media print, screen and (min-width: 64.0625em) {
  .gallery {
    padding: 0 !important;
  }
}
@media print, screen and (min-width: 40em) {
  .gallery {
    padding: 0 1rem !important;
  }
}
.gallery {
  padding: 0 !important;
}
@media print, screen and (min-width: 64.0625em) {
  .large-offset-1 {
    margin-left: 8.33333%;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .details .price {
    font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
    font-size: 1.875rem;
    line-height: 1.625;
  }
}
@media print, screen and (min-width: 40em) {
  .details .title {
    font-size: 42px;
  }
}
@media print, screen and (min-width: 40em) {
  .h1,
  h1 {
    font-size: 3rem;
  }
}
@media print, screen and (min-width: 40em) {
  .h3,
  h3 {
    font-size: 1.9375rem;
  }
}
@media screen and (min-width: 90em) {
  .product-plant-care {
    margin: 4rem 0;
    padding: 6rem 2rem;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .product-plant-care {
    margin: 4rem 0;
    padding: 4rem 2rem;
  }
}
@media print, screen and (min-width: 40em) {
  .product-plant-care {
    margin: 3rem 0;
    padding: 3rem 2rem;
  }
}
@media print, screen and (min-width: 40em) {
  .product-plant-care .section-title {
    font-family: Domaine-Medium, helvetica, roboto, arial, sans-serif;
    font-size: 2.625rem;
    line-height: 1.1;
    margin-top: rem-cal(16);
  }
}
@media print, screen and (min-width: 40em) {
  .details .size-guide {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
}
@media print, screen and (min-width: 64.0625em) {
  .dd-options {
    max-height: 14rem;
  }
}

@media print, screen and (min-width: 64.0625em) {
  .gallery .slick-next {
    display: inline-block;
    height: 100%;
    opacity: 0;
    right: 0;
    width: 50%;
  }
}
.gallery .slick-next {
  display: none;
}
[data-whatinput="mouse"] button {
  outline: 0;
}
[data-whatinput="mouse"] button {
  outline: 0;
}
.slick-next {
  right: -25px;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

@media print, screen and (min-width: 64.0625em) {
  .gallery .slick-prev {
    display: inline-block;
    height: 100%;
    opacity: 0;
    left: 0;
    width: 50%;
    z-index: 1;
  }
}
.gallery .slick-prev {
  display: none;
}
[data-whatinput="mouse"] button {
  outline: 0;
}
[data-whatinput="mouse"] button {
  outline: 0;
}
.slick-prev {
  left: -25px;
}
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.gallery .slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.gallery .slick-dots li button {
  padding: 0;
  height: 0.75rem;
  width: 0.75rem;
  border: 1px solid #2d2a24;
  border-radius: 0.75rem;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.gallery .slick-dots li {
  height: 0.75rem;
  width: 0.75rem;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.gallery .slick-dots li.slick-active button {
  background: #2d2a24;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.gallery .slick-dots {
  bottom: 1.5rem;
}

@media print, screen and (min-width: 64.0625em) {
  .gallery .slick-dots {
    bottom: auto;
  }
}

.details .dd-pointer.dd-pointer-up {
  transform: rotate(180deg);
  top: 100%;
  right: 0;
}
.details .dd-pointer:after {
  content: "";
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-image: url(https://cdn.shopify.com/s/files/1/0150/6262/t/124/assets/dropdown-arrow-small.svg);
}

.dd-option-text,
.dd-selected-text {
  font-family: Domaine-Regular, helvetica, roboto, arial, sans-serif;
  font-size: 1rem;
  line-height: normal;
  cursor: pointer;
  line-height: 2.5rem !important;
}

.dd-option-selected {
  background: #f6f6f6;
}
